
<div class="col-sm-3 col-md-3">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="glyphicon glyphicon-cog">
                        </span>Site Management
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in">
                <div class="list-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item active" id="component">Components</a>
                        <a href="#" class="list-group-item" id="attendeeType">Attendee Types</a>
                        <a href="#" class="list-group-item" id="status">Status</a>
                        <a href="#" class="list-group-item" id="mail">Mails</a>
                        <a href="#" class="list-group-item" id="regPage">Registration Pages / Content Section</a>
                        <a href="#" class="list-group-item" id="regFlow">Registration Flow</a>
                        <a href="#" class="list-group-item" id="style">Styling and Formatting </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>