

<div class="row form-group">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            @* TODO: for each page create a new wixard tab *@
            <li class="active">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Home</h4>
                    <p class="list-group-item-text">/home</p>
                </a>
            </li>
            <li class="">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Create</h4>
                    <p class="list-group-item-text">/auth/create</p>
                </a>
            </li>
            <li class="">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Login</h4>
                    <p class="list-group-item-text">/auth/login</p>
                </a>
            </li>
            <li class="">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Contact</h4>
                    <p class="list-group-item-text">/contact</p>
                </a>
            </li>
            <li class="">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Session</h4>
                    <p class="list-group-item-text">/session</p>
                </a>
            </li>
            <li class="">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Survey</h4>
                    <p class="list-group-item-text">/survey</p>
                </a>
            </li>
            <li class="">
                <a href="#step-1">
                    <h4 class="list-group-item-heading">Summary</h4>
                    <p class="list-group-item-text">/edit</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row setup-content" id="step-1">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <h1> STEP 1</h1>
            <button id="activate-step-2" class="btn btn-primary btn-lg">Activate Step 2</button>
        </div>
    </div>
</div>
<div class="row setup-content" id="step-2">
    <div class="col-xs-12">
        <div class="col-md-12 well">
            <h1 class="text-center"> STEP 2</h1>
        </div>
    </div>
</div>
<div class="row setup-content" id="step-3">
    <div class="col-xs-12">
        <div class="col-md-12 well">
            <h1 class="text-center"> STEP 3</h1>
        </div>
    </div>
</div>