
@model BuildSpecTool.ViewModels.ManagementViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.Partial("_MenuPartial")

    <div class="col-sm-9 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dashboard</h3>
            </div>
            <div class="panel-body" id="mainSection">
                 <div class="menu" id="componentView">
                     @Html.Partial("_SiteComponents", Model.Component)
                 </div>
                <div class="menu" id="attendeeTypeView" style="display:none;">
                    @Html.Partial("_AttendeeType", Model.EventAttendeeType)
                </div>
                <div class="menu" id="statusView">
                </div>
                <div class="menu" id="mailView">
                </div>
                <div class="menu" id="regPageView">
                </div>
            </div>
        </div>
    </div>

</div>




@section scripts {
    <script type="text/javascript">
        $('.list-group-item').on('click', function () {
            console.log(this.innerText);
            switch (this.innerText) {
                case "Components":
                    $(".menu").hide();
                    $("#componentView").show();
                    break;
                case "Attendee Types":
                    $(".menu").hide();
                    $("#attendeeTypeView").show();
                    break;
                case "Status":
                    $(".menu").hide();
                    $("#statusView").show();
                    break;
                case "Mails":
                    $(".menu").hide();
                    $("#mailView").show();
                    break;
                case "Registration Pages / Content Section":
                    $(".menu").hide();
                    $("#regPageView").show();
                    break
                default:
                    $(".menu").hide();
                    $("#componentView").show();
                    break;
            }
            $('.list-group-item').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    }
