@using BuildSpecTool.Models

@model IEnumerable<EventMail>
@{
    ViewBag.Title = "Index";
}

@{
   <div class="row">
       <ul class="nav nav-tabs">
           <li class="active"><a href="#"><span class="glyphicon glyphicon-envelope"></span> All Mails</a></li>
           <li class=""><a href="#"><span class="glyphicon glyphicon-send"></span> Transactional Mails</a></li>
           <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span> Mail Blast</a></li>
       </ul>
       <div class="list-group" id="mailList">
           @if (Model.Any())
           {
               foreach (var mail in Model)
               {
                   <a href="#" class="list-group-item"><span class="@(mail.IsBlast ? "glyphicon glyphicon-send" : "glyphicon glyphicon-share-alt")"></span> @mail.Mail.Name</a>
               }
           }
           else
           {
               <a href="#" class="list-group-item">No Mail Defined for this event yet.</a>
           }
       </div>
   </div>

}

