
@*<div class="input-group" style="margin-bottom:15px;">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span> New Project</span>
</div>*@

<div class="input-group" style="margin-bottom:15px;" >
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
       <a href="~/Event/Create" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Project</a>
    </span>
</div>